pkgbase = ros-noetic-tf2
	pkgdesc = ROS - tf2 is the second generation of the transform library, which lets the user keep track of multiple coordinate frames over time.
	pkgver = 0.7.7
	pkgrel = 1
	url = https://wiki.ros.org/tf2
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = armv6h
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-noetic-rostime
	makedepends = ros-noetic-tf2-msgs
	makedepends = ros-noetic-catkin
	makedepends = ros-noetic-geometry-msgs
	makedepends = console-bridge
	depends = ros-noetic-rostime
	depends = ros-noetic-tf2-msgs
	depends = ros-noetic-geometry-msgs
	depends = console-bridge
	source = ros-noetic-tf2-0.7.7.tar.gz::https://github.com/ros/geometry2/archive/0.7.7.tar.gz
	sha256sums = edda09208a93761fd728e80d5acc487140fa6137f85fad124f82827128997f3c

pkgname = ros-noetic-tf2
