pkgbase = ros-noetic-roswtf
	pkgdesc = ROS - roswtf is a tool for diagnosing issues with a running ROS system.
	pkgver = 1.17.0
	pkgrel = 1
	url = https://wiki.ros.org/roswtf
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-noetic-catkin
	makedepends = ros-noetic-rostest
	depends = ros-noetic-rosbuild
	depends = ros-noetic-rosnode
	depends = ros-noetic-rosgraph
	depends = ros-noetic-roslaunch
	depends = ros-noetic-rosservice
	depends = ros-noetic-roslib
	depends = python-paramiko
	depends = python-rospkg
	source = ros-noetic-roswtf-1.17.0.tar.gz::https://github.com/ros/ros_comm/archive/1.17.0.tar.gz
	sha256sums = 3937e5cd3043db5e8d2a2e522068a5b7b28dbb4959ee909730675ed4c82d70b7

pkgname = ros-noetic-roswtf
