pkgbase = ros-noetic-tf2-sensor-msgs
	pkgdesc = ROS - Small lib to transform sensor_msgs with tf. Most notably, PointCloud2
	pkgver = 0.7.7
	pkgrel = 1
	url = https://wiki.ros.org/tf2_sensor_msgs
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = eigen
	makedepends = ros-noetic-catkin
	makedepends = ros-noetic-cmake-modules
	depends = ros-noetic-sensor-msgs
	depends = ros-noetic-tf2
	depends = ros-noetic-tf2-ros
	depends = ros-noetic-rospy
	depends = orocos-kdl-python
	source = ros-noetic-tf2-sensor-msgs-0.7.7.tar.gz::https://github.com/ros/geometry2/archive/0.7.7.tar.gz
	sha256sums = edda09208a93761fd728e80d5acc487140fa6137f85fad124f82827128997f3c

pkgname = ros-noetic-tf2-sensor-msgs
