pkgbase = ros-noetic-joy
	pkgdesc = ROS - ROS driver for a generic Linux joystick.
	pkgver = 1.15.1
	pkgrel = 2
	url = https://wiki.ros.org/joy
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = armv6h
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-noetic-diagnostic-updater
	makedepends = ros-noetic-roscpp
	makedepends = ros-noetic-sensor-msgs
	makedepends = ros-noetic-catkin
	makedepends = ros-noetic-roslint
	makedepends = linuxconsole
	depends = ros-noetic-diagnostic-updater
	depends = ros-noetic-roscpp
	depends = ros-noetic-sensor-msgs
	depends = linuxconsole
	depends = python-empy
	source = ros-noetic-joy-1.15.1.tar.gz::https://github.com/ros-drivers/joystick_drivers/archive/1.15.1.tar.gz
	source = cpp-std.patch
	sha256sums = 214e63d76567ef6133b7c4962fbe9bc699eab8fe95d6c1b5c724ccdea18d6ee0
	sha256sums = SKIP

pkgname = ros-noetic-joy
