pkgbase = ros-noetic-rostime
	pkgdesc = ROS - Time and Duration implementations for C++ libraries, including roscpp.
	pkgver = 0.7.3
	pkgrel = 1
	url = https://wiki.ros.org/rostime
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = armv6h
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-noetic-cpp-common
	makedepends = ros-noetic-catkin
	makedepends = boost
	depends = ros-noetic-cpp-common
	depends = boost
	source = ros-noetic-rostime-0.7.3.tar.gz::https://github.com/ros/roscpp_core/archive/0.7.3.tar.gz
	sha256sums = 9ada9ab00f1c28ef39069f8bb8642a33f127d6c5c49bc3d9057cadbd8d7c172e

pkgname = ros-noetic-rostime
