pkgbase = ros-noetic-rosgraph
	pkgdesc = ROS - rosgraph contains the rosgraph command-line tool, which prints information about the ROS Computation Graph.
	pkgver = 1.17.0
	pkgrel = 2
	url = https://wiki.ros.org/rosgraph
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-noetic-catkin
	depends = python-yaml
	depends = python-netifaces
	depends = python-rospkg
	source = ros-noetic-rosgraph-1.17.0.tar.gz::https://github.com/ros/ros_comm/archive/1.17.0.tar.gz
	source = frame.patch::https://github.com/ros/ros_comm/pull/2331.patch
	sha256sums = 3937e5cd3043db5e8d2a2e522068a5b7b28dbb4959ee909730675ed4c82d70b7
	sha256sums = SKIP

pkgname = ros-noetic-rosgraph
