pkgbase = ros-noetic-tf2-msgs
	pkgdesc = ROS - tf2_msgs.
	pkgver = 0.7.7
	pkgrel = 1
	url = https://wiki.ros.org/tf2_msgs
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-noetic-message-generation
	makedepends = ros-noetic-actionlib-msgs
	makedepends = ros-noetic-catkin
	makedepends = ros-noetic-geometry-msgs
	depends = ros-noetic-message-generation
	depends = ros-noetic-actionlib-msgs
	depends = ros-noetic-geometry-msgs
	source = ros-noetic-tf2-msgs-0.7.7.tar.gz::https://github.com/ros/geometry2/archive/0.7.7.tar.gz
	sha256sums = edda09208a93761fd728e80d5acc487140fa6137f85fad124f82827128997f3c

pkgname = ros-noetic-tf2-msgs
